body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2E2F42;
    background-color: #FCFCFC;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   font-weight: 400;
}

a {
    text-decoration: none;
    
}

ul {
    list-style-type: none;
}

.link {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.link:hover {
    color: #404BBF;
}



.page-title {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.menu:hover {
    color: #404BBF;
}

.menu:active {
    color: #4D5AE5;
}